{% extends 'base.html'%}

{%block title %}
Главная странца
{% endblock %}

{%block body %}
<h1>Главная странца</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Aperiam cumque molestias soluta temporibus!</li>
<li>Incidunt perspiciatis praesentium provident quidem.</li>
<li>Assumenda exercitationem fuga magnam sint.</li>
<li>Explicabo facilis nostrum vitae voluptatibus.</li>
<li>Aliquam eum molestias nemo quae.</li>
<li>Culpa delectus expedita itaque non.</li>
<li>Accusamus amet cum repellendus ullam!</li>
<li>Dolores itaque pariatur quasi vel.</li>
<li>Doloribus eaque itaque odio repellendus!</li>
<li>Laudantium perspiciatis possimus quia quo.</li>
<li>Expedita nemo odio pariatur voluptas?</li>
<li>Eligendi excepturi provident quam sint!</li>
<li>Minus mollitia odit unde voluptates!</li>
<li>Deleniti fugit harum nam quos.</li>
<li>In itaque labore necessitatibus sunt!</li>
<li>Accusamus maiores nam quaerat quibusdam?</li>
<li>Necessitatibus quam rerum tempore voluptatem!</li>
<li>Eum id libero quae vel.</li>
<li>Blanditiis magni obcaecati quidem totam?</li>
<li>Fugiat placeat repellat soluta voluptate?</li>
<li>Dicta enim laboriosam laudantium pariatur?</li>
<li>Excepturi pariatur porro reiciendis repellendus.</li>
<li>Blanditiis debitis laboriosam nulla ratione.</li>
<li>Debitis dolor fugit possimus velit.</li>
<li>Error iste odio soluta tempora?</li>
<li>Est maiores quaerat quo ratione.</li>
<li>Accusamus animi minus quas quibusdam?</li>
<li>Est fugit illum itaque laboriosam.</li>
<li>Molestiae, obcaecati, suscipit. Sapiente, vero.</li>
<li>Accusantium quo rerum sapiente ut?</li>
<li>Adipisci autem doloremque exercitationem placeat?</li>
<li>Deleniti deserunt mollitia sint unde?</li>
<li>Earum, illo repellendus. Tenetur, voluptatem.</li>
<li>Eius enim iure necessitatibus pariatur.</li>
<li>At error repellat sunt voluptatibus?</li>
<li>Beatae dolores expedita illo quibusdam.</li>
<li>Est maiores quod sequi ut.</li>
<li>Mollitia nisi obcaecati repellendus veritatis.</li>
<li>Consectetur eveniet harum quibusdam voluptatibus?</li>
<li>Dolores libero maiores neque quasi.</li>
<li>Architecto assumenda eaque provident quaerat.</li>
<li>Eligendi ipsum laudantium pariatur quisquam!</li>
<li>Alias nulla porro quam unde!</li>
<li>Accusamus consequuntur inventore molestias ut.</li>
<li>Ab animi aut ipsum itaque!</li>
<li>Alias autem quae ratione vel.</li>
<li>A consequuntur inventore maxime reiciendis.</li>
<li>Alias consectetur molestias pariatur. Aliquid!</li>
<li>Ad cupiditate minus necessitatibus nostrum?</li>
<li>Architecto placeat quidem ratione reiciendis.</li>
<li>Incidunt quidem repellat sunt vero?</li>
<li>Eveniet illum maiores porro ut!</li>
<li>Alias eaque esse explicabo maxime!</li>
<li>Dicta dolorum minus pariatur voluptatibus.</li>
<li>Delectus doloremque ratione temporibus vel!</li>
<li>Accusantium esse odit porro sed.</li>
<li>Doloremque ipsa officiis perspiciatis voluptate.</li>
<li>Aliquam autem dolor dolore illum.</li>
<li>Debitis maiores suscipit tenetur totam?</li>
<li>Aut id qui recusandae unde?</li>
<li>Id illo illum minima nobis.</li>
<li>Beatae modi perferendis quos tempora.</li>
<li>Eos facilis in non tenetur!</li>
<li>Eos magnam similique voluptatem? Quas!</li>
<li>At atque eius illo reiciendis.</li>
<li>Atque beatae nihil repellat veniam!</li>
<li>Aspernatur et fugiat magnam temporibus.</li>
<li>Ad beatae cumque perspiciatis voluptate?</li>
<li>Dicta eaque incidunt magnam nisi?</li>
{% endblock %}